/*
** Resetting the width to allow our ACF blocks to look good
*/
body.gutenberg-editor-page .editor-post-title__block, body.gutenberg-editor-page .editor-default-block-appender, body.gutenberg-editor-page .editor-block-list__block {
	max-width: 100% !important;
}
.block-editor__container .wp-block {
	max-width: 100% !important;
}

/*
** Min-height and border to allow for easier block editing in the admin
*/
.block-editor__container .wp-block:not(.editor-post-title) {
	border: 1px solid lightgray;
	min-height: 50px;
}

/*
** Fixes to problem with new Gutenberg requiring the paragraph block
** which we remove in our base theme
*/
.block-editor-button-block-appender.block-list-appender__toggle {
	padding: 0!important;
	margin: 0 auto 20px!important;
}

.block-library-block__reusable-block-container .block-list-appender {
	display: none!important;
}

/*
** Make the sidebar wider to when editing a page
*/
@media screen and (min-width: 900px) {
	.interface-complementary-area {
		width: 380px;
	}
}

@media screen and (min-width: 1000px) {
	.interface-complementary-area {
		width: 440px;
	}
}