.blog section.block,
.archive section.block{
    max-width: 90%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    .read-more{
        display: inline-block;
        &:hover{
            text-decoration: underline;
        }
    }
    article{
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #eee;
        h2 > a{
            color: #333;
            &:hover{
                text-decoration: underline;
            }
        }
        &:last-of-type{
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.single #main{
    max-width: 90%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    .post-meta{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 15px 0;
        margin-bottom: 15px;

        &__categories{
            margin-right: 15px;
        }
        .icon{
            width: 14px;
            height: 14px;
            transform: translateY(2px);
        }
    }
    .back{
        &:hover{
            text-decoration: underline;
        }
    }
}

.blog .category-heading{
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 60px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    .icon{
        width: 18px;
        height: 18px;
        transform: translateY(2px);
    }
}