.blog section.block{
    max-width: 90%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    .read-more{
        display: inline-block;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    article{
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        &:last-of-type{
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.single #main{
    max-width: 90%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    .back{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}