.mceContentBody,
.mce-content-body {
	padding: 20px !important;
	background: #fff !important;
}

.editor-content,
html .mceContentBody {

	p {
		margin: 0 0 1.44em 0;
	}

	ul, ol {
		margin-top: 0;
		margin-bottom: 1.44em;
	}

	
	> *:last-child {
		margin-bottom: 0;
	}

}

.the_content{
  max-width: 640px;
}
