.primary-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  padding-top: 15px;
  padding-bottom: 15px;

  a.logo{
      display: block;
      width: 40px;
      height: auto;
      margin-right: auto;
      img{
          display: block;
          width: 100%;
          height: auto;
      }
  }
  .primary-nav{
      margin: 0;
      padding: 0 20px 0 0;
      li{
          display: inline-block;
      }
  }
  #social-icons{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    li{
      list-style: none;
      padding: 0;
      margin: 0 0 0 10px;
      a{
        display: block;
        width: 20px;
        height: 20px;
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}