.primary-header{
  position: relative;
  
  .header-content{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  

  a.logo{
      font-size: 36px;
      line-height: 1.4;
      font-weight: 500;
      color: $black;
      @include media-breakpoint-down(lg){
        font-size: 24px;
      }
      @include media-breakpoint-down(md){
        font-size: 18px;
      }
  }
  .primary-nav{
      margin: 0;
      padding: 0 0;
      display: flex;
      @include media-breakpoint-up(lg){
        transform: translateY(-7px);
      }
      li{
          list-style: none;
          padding: 0;
          margin: 0 0 0 40px;
          @include media-breakpoint-down(lg){
              margin: 0 0 0 20px;
          }
          a{
              display: block;
              padding: 0;
              font-size: 16px;
              color: $black;
              font-weight: 700;
              &:hover{
                  color: $color-secondary;
              }
          }
      }
  }
}

#contact{
  color: #fff;
  background: $black;
  transform: translateY(-100%);
  position: absolute;
  height: 100px;
  top:0;
  left:0;
  right:0;
  z-index: 100;
  a{
    color: #fff;
  }
  ul{
    margin: 0;
    padding: calc($gutter * 2) 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li{
      display: flex;
      font-weight: 600;
      @include media-breakpoint-down(lg){
        align-items: center;  
        a,span{
          font-size: 12px;
        }
      }
      a{
        text-decoration: underline;
      }
      .ico{
        width: $gutter;
        margin-right: calc( $gutter / 2 );
        svg{
          width: $gutter;
          height: $gutter;
          fill: #fff;
        }
      }
    }
  }
}
body{
  header.primary-header,
  main#main,
  .blog.block,
  .site-footer{
    transition: transform cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
  }
}
body.contact-is-open{
  header.primary-header,
  main#main,
  .blog.block,
  .site-footer{
    transform: translateY(100px);
  }
}