body {
	font-family: sans-serif;
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.66em;
}
a{
  text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body.page.page-template-default main#main{
  & > p,
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6,
  & > ul, & > ol,
  & > blockquote,
  & > figure{
    max-width: 90%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}