body {
	font-family: sans-serif;
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.66;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.4;
}
a{
  text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.pagination{
  nav{
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    .page-numbers{
      display: inline-block;
      padding: 5px 15px;
      border: 1px solid #ddd;
      margin-right: 5px;
      font-size: 13px;
      font-weight: bold;
      &.current{
        background-color: #333;
        border: 1px solid #333;
        color: #fff;
      }
    }
    a.page-numbers{
      color: #333;
      opacity: 0.8;
      &:hover{
        opacity: 1;
      }

    }
  }
}