// Theme colors

// Grid
$grid: 1300px;
$gutter: 15px;

// Widths
$one: 8.333333%;
$two: 16.666667%;
$three: 25%;
$four: 33.333333%;
$five: 41.666667%;
$six: 50%;
$seven: 58.333333%;
$eight: 66.666667%;
$nine: 75%;
$ten: 83.333333%;
$eleven: 91.666667%;
$twelve: 100%;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$color-primary: #2C528C;
$color-secondary: #51A0D5;